<%- include("template/header") %>
<br><br><br><br><br><br><br>
<center>
<section  id="developers" >
    
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="images/shambhavipic.png" alt="..." class="profilepic">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Shambhavi Singh</h5>
              <p class="card-text">Data Science and ML</p>
              <a href="https://twitter.com/TheReuniteBot">
                <img src="images/download.png" alt="" class="icons">
            </a>
            <a href="https://www.linkedin.com/in/shambhavi-s-699245136/">
                <img src="images/linkedinlogo.png" alt="" class="icons">
            </a>
            <a href="https://github.com/Shambhavi-Singh">
                <img src="images/githublogo.png" alt="" class="icons">
            </a>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="images/kaushalpicture.png" alt="..." class="profilepic">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Kaushal Damania</h5>
              <p class="card-text">Data Science and ML</p>
              <a href="https://twitter.com/TheReuniteBot">
                <img src="images/download.png" alt="" class="icons">
            </a>
            <a href="https://www.linkedin.com/in/shambhavi-s-699245136/">
                <img src="images/linkedinlogo.png" alt="" class="icons">
            </a>
            <a href="https://github.com/kaushal4">
                <img src="images/githublogo.png" alt="" class="icons">
            </a>
            </div>
          </div>
        </div>
      </div>
    
    
   
</section>
</center>
<%- include("template/footer") %>