<%- include("template/header") %>
<div class="text-center">
                  <br><br><br>
                  <img src="images\onlinelogomaker-121220-1344-9266.png" alt="alt-text">
                  <h1>The ReuniteBot</h1>
                  <h2>We Believe One Missing Child Is One Too Many 👪</h2>
  </div>
<%- include("template/footer") %>